<form action="/create" method="POST">
  <h3>Створити подію</h3>
  <div class='input-field'>
      <input type='text' name='title' />
      <label>Назва події</label>
  </div>
  <button type='submit' class='btn' >Створити</button>
</form>